html,
body,
#__nuxt,
main {
	@apply flex flex-col min-h-screen max-h-screen overflow-hidden;
}

body {
	@apply font-sans text-brand-text cursor-default select-none;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: anitaliased;
	-webkit-text-size-adjust: 100%;
	-webkit-user-drag: none;
}

button {
	@apply cursor-default transition-colors ease-DEFAULT outline-none border-none bg-transparent;
}
